USE [master]
GO
/****** Object:  Database [CarRentalDB]    Script Date: 2/21/2021 12:33:35 PM ******/
CREATE DATABASE [CarRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CarRentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CarRentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRentalDB]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2/21/2021 12:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccountID] [nvarchar](30) NOT NULL,
	[AccountName] [nvarchar](50) NULL,
	[Role] [nvarchar](10) NULL,
	[Status] [bit] NULL,
	[GoogleID] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 2/21/2021 12:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[ResID] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[FullName] [nvarchar](50) NULL,
	[AccountID] [nvarchar](30) NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[ResID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingDetail]    Script Date: 2/21/2021 12:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ResID] [int] NOT NULL,
	[VelNo] [int] NOT NULL,
	[AmountOfMoney] [float] NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
 CONSTRAINT [PK_BookingDetail] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/21/2021 12:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CateID] [int] IDENTITY(1,1) NOT NULL,
	[Colour] [nvarchar](50) NULL,
	[Manufacture] [nvarchar](50) NULL,
	[Model] [nvarchar](50) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Garage]    Script Date: 2/21/2021 12:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Garage](
	[GarageID] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](70) NULL,
	[Description] [nvarchar](50) NULL,
	[ImageLink] [nvarchar](200) NULL,
 CONSTRAINT [PK_Garage] PRIMARY KEY CLUSTERED 
(
	[GarageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/21/2021 12:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[ProfileImage] [nvarchar](50) NULL,
	[Phone] [nvarchar](15) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](70) NULL,
	[IdentityCard] [varchar](15) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[AccountID] [nvarchar](30) NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 2/21/2021 12:33:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[VelNo] [int] IDENTITY(1,1) NOT NULL,
	[CateID] [int] NULL,
	[VehicleFare] [nvarchar](50) NULL,
	[Seat] [int] NULL,
	[DescriptionCar] [nvarchar](50) NULL,
	[Status] [bit] NULL,
	[ImageLink] [nvarchar](200) NULL,
	[LicensePlates] [nvarchar](50) NULL,
	[Brand] [nvarchar](50) NULL,
	[CheckInDate] [datetime] NULL,
	[CheckOutDate] [datetime] NULL,
	[GarageID] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[VelNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([AccountID], [AccountName], [Role], [Status], [GoogleID], [Password]) VALUES (N'A123', N'sieunhando', N'admin', 1, N'A123', N'1234')
INSERT [dbo].[Account] ([AccountID], [AccountName], [Role], [Status], [GoogleID], [Password]) VALUES (N'A12334', N'LocVH2', N'admin', 1, N'A3121', N'1234')
INSERT [dbo].[Account] ([AccountID], [AccountName], [Role], [Status], [GoogleID], [Password]) VALUES (N'A221', N'LocVH', N'admin', 1, N'11221ccas1', N'string')
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([ResID], [Phone], [FullName], [AccountID]) VALUES (1, N'123456', N'Loc', N'A123')
SET IDENTITY_INSERT [dbo].[Booking] OFF
SET IDENTITY_INSERT [dbo].[BookingDetail] ON 

INSERT [dbo].[BookingDetail] ([ID], [ResID], [VelNo], [AmountOfMoney], [FromDate], [ToDate]) VALUES (3, 1, 12, 14500, CAST(N'2011-11-11T00:00:00.000' AS DateTime), CAST(N'2021-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[BookingDetail] ([ID], [ResID], [VelNo], [AmountOfMoney], [FromDate], [ToDate]) VALUES (4, 1, 13, 1515115, CAST(N'2021-01-23T05:26:15.257' AS DateTime), CAST(N'2021-02-11T05:26:15.257' AS DateTime))
SET IDENTITY_INSERT [dbo].[BookingDetail] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CateID], [Colour], [Manufacture], [Model]) VALUES (1, N'den', N'USA', N'Honda')
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Garage] ON 

INSERT [dbo].[Garage] ([GarageID], [Address], [Description], [ImageLink]) VALUES (1, N'XVNT', N'xa qua troi', N'khong co')
INSERT [dbo].[Garage] ([GarageID], [Address], [Description], [ImageLink]) VALUES (2, N'string', N'string', N'tim')
SET IDENTITY_INSERT [dbo].[Garage] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [ProfileImage], [Phone], [Email], [Address], [IdentityCard], [FullName], [AccountID], [Status]) VALUES (1, N'A123', N'123456789', N'ld@gmail.com', N'adasdasd', N'123213123', N'Vo Huu Loc', N'A123', 1)
INSERT [dbo].[User] ([UserID], [ProfileImage], [Phone], [Email], [Address], [IdentityCard], [FullName], [AccountID], [Status]) VALUES (4, N'aaa', N'1234567', N'c@gds.com', N'dasdas', N'few1', N'sieu nhan do', N'A123', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([VelNo], [CateID], [VehicleFare], [Seat], [DescriptionCar], [Status], [ImageLink], [LicensePlates], [Brand], [CheckInDate], [CheckOutDate], [GarageID], [Price]) VALUES (12, 1, N'Xe hơi', 4, N'ngon', 0, N'da co', N'das', N'vvv', CAST(N'2012-11-11T00:00:00.000' AS DateTime), CAST(N'2021-11-12T00:00:00.000' AS DateTime), 1, 10000)
INSERT [dbo].[Vehicle] ([VelNo], [CateID], [VehicleFare], [Seat], [DescriptionCar], [Status], [ImageLink], [LicensePlates], [Brand], [CheckInDate], [CheckOutDate], [GarageID], [Price]) VALUES (13, 1, N'sieunhando', 6, N'xe sang', 1, N'Ok', N'khong co', N'khong coo', CAST(N'2021-05-10T00:00:00.000' AS DateTime), CAST(N'2021-08-20T00:00:00.000' AS DateTime), 1, 10000)
INSERT [dbo].[Vehicle] ([VelNo], [CateID], [VehicleFare], [Seat], [DescriptionCar], [Status], [ImageLink], [LicensePlates], [Brand], [CheckInDate], [CheckOutDate], [GarageID], [Price]) VALUES (14, 1, N'ko bk', 9, N'no', 1, N'ko co', N'fdsd', N'fsd', CAST(N'2021-02-21T04:00:11.653' AS DateTime), CAST(N'2021-02-21T04:00:11.653' AS DateTime), 1, 100520)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Account]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetail_Booking1] FOREIGN KEY([ResID])
REFERENCES [dbo].[Booking] ([ResID])
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [FK_BookingDetail_Booking1]
GO
ALTER TABLE [dbo].[BookingDetail]  WITH CHECK ADD  CONSTRAINT [FK_BookingDetail_Vehicle] FOREIGN KEY([VelNo])
REFERENCES [dbo].[Vehicle] ([VelNo])
GO
ALTER TABLE [dbo].[BookingDetail] CHECK CONSTRAINT [FK_BookingDetail_Vehicle]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Account] FOREIGN KEY([AccountID])
REFERENCES [dbo].[Account] ([AccountID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Account]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Car_Category] FOREIGN KEY([CateID])
REFERENCES [dbo].[Category] ([CateID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Car_Category]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK_Vehicle_Garage] FOREIGN KEY([GarageID])
REFERENCES [dbo].[Garage] ([GarageID])
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK_Vehicle_Garage]
GO
USE [master]
GO
